.app {
    text-align: center;
  }
  
  .rack {
    display: inline-block;
    margin: 10px;
  }
  
  .rack h3 {
    font-size: 12px; /* Kabin ismini küçülttük */
    margin: 0;
    padding: 5px;
    text-align: center;
  }
  
  .errors {
    color: red;
    margin-top: 20px;
  }
  
  .system-room {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }